
.create{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 1;
}
.media-entry{
    width: 600px;
    height: 250px;
    // background-color: #F0FF8a55;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.media-btn{
    width: 282px;
    height: 56px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #DB6929;
}


.badge{
    margin-right: 30px;
}
.tutorial{
    flex: 1;
    font-size: 15px;
    font-weight: bold;
}