.ob-button {
    background-color: #DB6929;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.ob-button:hover {
    background-color: #dd9e0be1;
    cursor: pointer;
}

// .button-active {
//     background-color: $-bg-color-hover;

//     > * {
//         color: $-font-color-selected;
//     }
// }