// Variables
$-font-size-normal: 17px;
$-icon-size-normal: 20px;

$-font-color-grey: $--font-color-p2;
$-font-color-normal: #7896B0;
$-font-color-brighter: $--font-color-p1;
$-font-color-highlight: #FFFFFF;

$-icon-color-grey: $--font-color-p2;
$-icon-color-normal: #7896B0;
$-icon-color-brighter: $--font-color-p1;
$-icon-color-highlight: #FFFFFF;

$-bg-color-grey: $--util-color-default;
$-bg-color-normal: #1B232B;
$-bg-color-brighter: #222930;
$-bg-color-highlight: #49A2DD;


#tab {
    width: 100%;
    height: 100%;

    display: flex;
    // flex-direction: row;

    align-items: flex-end;

    padding: 7px;
    border-radius: 7px;

    background-color: #131A20;
}


.tab__item {
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;

    border-radius: 7px;

    // margin: 0px 5px 0px 5px;

    justify-content: center;   /* 子元素水平居中 */
    align-items: center;       /* 子元素垂直居中 */

    background-color: $-bg-color-normal;
}


.tab__item--icon {
    height: $-icon-size-normal;
}

.tab__item--label {
    font-size: $-font-size-normal;
    color: $-font-color-normal;
}

.tab__item--selected {
    position: relative;

    color: $-font-color-highlight!important;
    background-color: $-bg-color-highlight!important;

    border-radius: 7px;

    font-weight: bolder;

    .tab__item--icon {
        color: $-font-color-highlight;
    }

    .tab__item--label {
        color: $-font-color-highlight;
    }
}

.tab__item--disabled {
    cursor: no-drop!important;
}

.tab__item:hover {
    cursor: pointer;
}