
.workspace{
    width: 100%;
    height: 330px;
    background-color: #88F79F33;
}
.tool{
    width: 100%;
    height: 140px;
    background-color: #8800FF33;
}
.tutorial{
    flex: 1;
    background-color: #09FF0044;
}