.obtab-menu{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color:grey;
    position: relative;
}
.obtab-menu-item{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
}

.obtab-menu-item-selected{
    color: #E94902;
    border-bottom: 3px solid #E94902;
}