// TODO: Opacity
// Variables
$-font-size-normal: 16px;
$-icon-size-normal: 16px;

$-font-color-grey: $--font-color-p1;
$-font-color-normal: $--font-color-p3;
$-font-color-brighter: $--font-color-p3;
$-font-color-hightlight: $--font-color-p1;

$-icon-color-grey: $--font-color-p1;
$-icon-color-normal: $--icon-color-p3;
$-icon-color-brighter: $--icon-color-p2;
$-icon-color-hightlight: $--icon-color-p1;

$-bg-color-grey: $--bg-color-p2;
$-bg-color-normal: transparent;
$-bg-color-brighter: $--bg-color-p2;
$-bg-color-hightlight: $--bg-color-p2;

$-stepper-item-width: 154px;


#navigator {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;   /* 子元素水平居中 */
    align-items: center;       /* 子元素垂直居中 */

    // TODO: Not a good method
    > :nth-child(1){
        transform: translateX(10%);
    }

    > :nth-child(3){
        transform: translateX(-10%);
    }
}

.navigator__item {
    height: 100%;
    width: $-stepper-item-width;
    font-weight: bold;

    display: flex;
    flex-direction: row;

    padding: 5px 15px 5px 15px;

    justify-content: center;   /* 子元素水平居中 */
    align-items: center;       /* 子元素垂直居中 */

    // clip-path: polygon(210.27000427246094% 37.654998779296875%, 205.6551513671875% 42.31919860839844%, 201.04029846191406% 46.983402252197266%, 196.42544555664062% 51.647605895996094%, 191.47821044921875% 55.89845275878906%, 185.13677978515625% 57.464935302734375%, 178.58541870117188% 57.60901641845703%, 172.02403259277344% 57.60901641845703%, 165.46266174316406% 57.60901641845703%, 158.90127563476562% 57.609012603759766%, 152.33990478515625% 57.609012603759766%, 145.77853393554688% 57.609012603759766%, 139.2171630859375% 57.609012603759766%, 132.65577697753906% 57.609012603759766%, 126.09439086914062% 57.609012603759766%, 119.53302001953125% 57.609012603759766%, 112.97164154052734% 57.6090087890625%, 106.41026306152344% 57.6090087890625%, 99.84888458251953% 57.6090087890625%, 93.28751373291016% 57.6090087890625%, 86.72612762451172% 57.6090087890625%, 80.16475677490234% 57.6090087890625%, 73.60338592529297% 57.609004974365234%, 67.04199981689453% 57.609004974365234%, 60.480628967285156% 57.609004974365234%, 53.91925811767578% 57.609004974365234%, 47.357872009277344% 57.609004974365234%, 40.79650115966797% 57.609004974365234%, 34.23511505126953% 57.609004974365234%, 27.67374610900879% 57.60900115966797%, 21.112375259399414% 57.60900115966797%, 14.550989151000977% 57.60900115966797%, 9.538318634033203% 57.49819564819336%, 15.376548767089844% 54.68703079223633%, 20.011951446533203% 50.044132232666016%, 24.626800537109375% 45.37993240356445%, 29.241661071777344% 40.715721130371094%, 33.506717681884766% 35.77243423461914%, 35.13510513305664% 29.475112915039062%, 33.92274475097656% 23.081809997558594%, 29.910085678100586% 17.959848403930664%, 25.295236587524414% 13.295648574829102%, 20.680387496948242% 8.631449699401855%, 16.06553840637207% 3.967250347137451%, 10.466659545898438% 0.7041825652122498%, 13.600631713867188% 0.39100000262260437%, 20.162002563476562% 0.39100000262260437%, 26.723373413085938% 0.39100000262260437%, 33.28474426269531% 0.39100000262260437%, 39.84611511230469% 0.39100000262260437%, 46.40748596191406% 0.39100000262260437%, 52.96888732910156% 0.39100000262260437%, 59.53025817871094% 0.39100000262260437%, 66.09162902832031% 0.39100000262260437%, 72.65299987792969% 0.39100000262260437%, 79.21437072753906% 0.39100000262260437%, 85.77577209472656% 0.39100000262260437%, 92.33714294433594% 0.39100000262260437%, 98.89851379394531% 0.39100000262260437%, 105.45988464355469% 0.39100000262260437%, 112.02125549316406% 0.39100000262260437%, 118.58265686035156% 0.39100000262260437%, 125.14402770996094% 0.39100000262260437%, 131.7053985595703% 0.39100000262260437%, 138.2667694091797% 0.39100000262260437%, 144.82814025878906% 0.39100000262260437%, 151.38954162597656% 0.39100000262260437%, 157.95091247558594% 0.39100000262260437%, 164.5122833251953% 0.39100000262260437%, 171.0736541748047% 0.39100000262260437%, 177.63502502441406% 0.39100000262260437%, 184.19589233398438% 0.381395161151886%, 190.58355712890625% 1.473240613937378%, 195.65203857421875% 5.570718765258789%, 200.2668914794922% 10.234916687011719%, 204.88174438476562% 14.899114608764648%, 209.49658203125% 19.563312530517578%, 212.66268920898438% 25.21004867553711%, 212.8992462158203% 31.71632957458496%, 210.27000427246094% 37.654998779296875%);
    // clip-path: path("M0.07282,0 L0.41558,0 L0.41558,1.56098 L0.07282,1.56098 L0.01224,1.01164 C-0.00408,0.86364 -0.00408,0.69734 0.01224,0.54934 L0.07282,0 Z");
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    // stroke-linejoin: round;
    // stroke-width: 100px;
    // clip-path: polygon(
    //     75% 0%, 76% 1%, 77% 2%,
    //     97% 47%, 98% 48%, 99% 49%,
    //     100% 50%,
    //     99% 51%, 98% 52%, 97% 53%,
    //     77% 98%, 76% 99%, 75% 100%,
    //     0% 100%, 1% 99%, 2% 98%,
    //     23% 53%, 24% 52%, 25% 51%,
    //     25% 50%,
    //     24% 49%, 23% 48%, 22% 47%,
    //     3% 3%, 2% 2%, 1% 1%,
    //     0% 0%,
    // );
    // clip-path: polygon(
    //     70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%,
    //     98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%,
    //     99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%,
    //     78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%,
    // );
}

.navigator__item--selected {
    // border-top: 5px solid $--ob-xw-theme-color-main;
    color: $-font-color-hightlight;
    // background-color: $-bg-color-hightlight;

    background: linear-gradient(90deg, #0364BD, #30B7F7);
    // background-image: url("@/assets/images/stepper.png");
    // background-size: 100% 100%;

    > .navigator__item--icon {
        color: $-icon-color-hightlight;
    }
    
    > .navigator__item--label {
        color: $-font-color-hightlight;
    }
}

// .navigator__item--selected::before {
//     content: "";
//     position: absolute;

//     top: 38px;

//     height: 2px;
//     width: 126px;

//     background-color: $--theme-color-p1;
// }

// .navigator__item--disabled:hover {
//     cursor: not-allowed!important;
// }

// .navigator__item:hover {
//     cursor: pointer;
//     color: $-font-color-brighter;
//     background-color: $-bg-color-brighter;
// }

.navigator__item--icon {
    height: $-icon-size-normal;
    font-size: $-icon-size-normal;
    color: $-font-color-normal;
    opacity: 0.9;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 7px;
}

.navigator__item--label {
    font-size: $-font-size-normal;
    color: $-font-color-normal;
    opacity: 0.9;
}

.no-draggable {
    -webkit-app-region: no-drag;
}