.floating-window {
    position: fixed;
    width: 100%;
    /* 使用视口宽度的 100% */
    height: 100%;
    /* 使用视口高度的 100% */
    z-index: 1000;
    /* 确保悬浮窗在其他内容之上 */
    background-color: #fff;
    border: none;
    /* 去掉边框 */
    padding: 0;
    /* 去掉内边距 */
    box-shadow: none;
    /* 可根据需要移除阴影 */
}

.content {
    width: 100%;
    height: 100%;
    // background: url("@/assets/images/test.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.camera-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #FAFAFB;

    .top {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 10px 0;
    }

    .bottom {
        height: 100px;
        width: 100%;
        background-color: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;

        .green-circle-button {
            margin: auto auto 44px auto;
            background-color: #0099A1;
            /* 默认背景色 */
            border: none;
            /* 去除边框 */
            border-radius: 50%;
            /* 圆形按钮 */
            color: white;
            /* 文字颜色 */
            cursor: pointer;
            /* 鼠标悬停时显示指针样式 */
            font-size: 16px;
            /* 文字大小 */
            height: 50px;
            /* 按钮高度 */
            width: 50px;
            /* 按钮宽度 */
            line-height: 50px;
            /* 文字垂直居中 */
            text-align: center;
            /* 文字水平居中 */
            transition: background-color 0.3s;
            /* 过渡效果 */
        }

        .green-circle-button:active {
            background-color: darkgreen;
            /* 按下时的背景色 */
        }
        .icon-container {
            display: flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%; /* 确保图标填满整个区域 */
            justify-content: space-between; /* 将图标放在两侧 */
            z-index: 1; /* 确保图标在高亮上方 */
        }
        .highlight {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0; /* 默认宽度为0 */
            background: rgba(76, 175, 80, 0.7); /* 开关高亮的背景色 */
            border-radius: 50px; /* 边角弧形 */
            transition: width 0.3s ease; /* 动画过渡效果 */
            z-index: 0; /* 确保高亮在其他元素下方 */
        }
    }
}

.player {
    width: 95%;
    aspect-ratio: 16 / 9; 
    border-radius: 5px;
    border: 1px solid rgba(200, 200, 200, 0.5)
}

.right-panel{
    width: 260px;
    height: 100%;
}

.camera-setting {
    width: 100%;
    background-color: 0xFFFFFF;
    box-shadow: -5px 0 20px -5px rgba(243, 227, 227, 0.5);
    display: flex;
    flex-direction: column;
    padding: 50px 10px 10px 10px;

    .panel {
        width: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
        background-color: #FAFAFC;
        display: flex;
        flex-direction: column;

        .item {
            width: 100%;
            height: 35px;
            // background: blue;
            margin-bottom: 1px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: 15px;
            padding: 0 10px 0 10px;
            border-radius: 5px;
            color: #363E5C
        }
    }
}

.divider {
    border: 0;
    height: 1px;
    background-color: #ECEDF0;
}


/* 样式化下拉框 */
select {
    margin-left: 10px;
    width: 90%;
    /* 宽度 */
    padding: 10px;
    /* 内边距 */
    font-size: 16px;
    /* 字体大小 */
    line-height: 1;
    /* 行高 */
    border: 1px solid #ccc;
    /* 边框 */
    border-radius: 4px;
    /* 边框圆角 */
    background-color: white;
    /* 背景色 */
}

/* 可选：样式化选项（但注意，大多数浏览器对<option>的样式支持有限） */
option {
    background-color: #f9f9f9;
    /* 背景色 */
    color: black;
    /* 字体颜色 */
}

/* 当选项被选中时 */
option:checked {
    background-color: #ddd;
    /* 选中时的背景色，但注意，这个属性在option上并不工作，仅作为示例 */
}

.no-camera-prompt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup { 
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;

        .device {
            width: 100%;
            height: 60%;
            // background-color: red;
        }

        .media-btn {
            width: 250px;
            height: 35px;
            margin-bottom: 5px;
            margin-top: 40px;
            background-color: #DB6929;
        }
    }
}

.fab {  
    // background-color: #ff5722;
    color: #81869A;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 10px -360px 0 auto;
} 

.extractor{
    margin-left: 10px;
}

.beautifier{
    margin-left: 10px;
}

.el-overlay{
    height: calc(100% - 40px) !important;
    top: 40px !important;
}

.drawer{
    width: 550px !important
}