#client-template {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: transparent;

    > :nth-child(1) {
        height: fit-content;
        background-color: rgb(203, 109, 244);
    };

    > :nth-child(2) {
        flex: 1;
        overflow: hidden;
    }
}

