// Variables
$-font-size-normal: 15px;
$-icon-size-normal: 20px;

$-font-color-grey: $--font-color-p2;
$-font-color-normal: $--font-color-p2;
$-font-color-brighter: $--font-color-p1;
$-font-color-hightlight: $--font-color-p1;

$-icon-color-grey: $--font-color-p2;
$-icon-color-normal: $--font-color-p2;
$-icon-color-brighter: $--font-color-p1;
$-icon-color-hightlight: $--font-color-p1;

$-bg-color-grey: $--util-color-default;
$-bg-color-normal: transparent;
$-bg-color-brighter: $--theme-color-p3;
$-bg-color-hightlight: $--theme-color-p3;

$-selector-padding-top-bottom: 9px;
$-selector-padding-side: 9px;

$-selector-font-color-normal: hsl(212, 44%, 60%);
$-selector-font-color-hover: hsl(212, 44%, 67%);
$-selector-font-color-active: #1A232A;
$-selector-bg-color-normal: hsl(211, 29%, 22%);
$-selector-bg-color-hover: hsl(211, 29%, 29%);
$-selector-bg-color-active: #4D6D8D;

.ob-select-trigger__outer {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: 43px;

      background-color: transparent;

      > * {

            color: $-selector-font-color-normal;
            background-color: $-selector-bg-color-normal;
      }

      > :nth-child(1) {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding: $-selector-padding-top-bottom $-selector-padding-side $-selector-padding-top-bottom $-selector-padding-side;
            width: fit-content;
            transition: width 1s ease;
            display: flex;
            align-items: center;
      }

      > :nth-child(2) {
            border-radius: 2px;
            width: 17px;
            margin-left: 0.2em;
      }
}

.ob-select-trigger__outer:hover {
      > * {
            cursor: pointer;
            color: $-selector-font-color-hover;
            background-color: $-selector-bg-color-hover;
      }
}

.ob-select-trigger__outer:active {
      > * {
            color: $-selector-font-color-active;
            background-color: $-selector-bg-color-active;

            &::before {
                  background-color: $-selector-font-color-active;
            }
      }
}

.ob-select-popover {
      background-color: $-selector-bg-color-normal;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      // border-radius: 2px;
      overflow: hidden;
      display: flex;
      flex-direction: column-reverse;

      > * {
            width: 100%;
            padding: $-selector-padding-top-bottom $-selector-padding-side $-selector-padding-top-bottom $-selector-padding-side; 
      }
}

.ob-select-item {
      color: grey;
      background-color: $-selector-bg-color-normal;
      text-align: center;

      display: flex;
      flex-direction: row;
      align-items: center;
      height: 43px;

      transition: all 0.3s ease;

      > * {
            filter: grayscale(100%);
      }

      > :not(:first-child) {
            margin-left: 12px;
      }
}

.ob-select-item:hover {
      cursor: pointer;
      color: $-selector-font-color-hover;
      background-color: $-selector-bg-color-hover;
      > * {
            filter: none;
      }

}

.ob-select-item:active {
      color: $-selector-font-color-active;
      background-color: $-selector-bg-color-active;
      > * {
            filter: none;
      }
}

.ob-select-item__selected {
      color: hsl(212, 44%, 60%);
}


.ob-select-indicator {
      position: relative;

      &::before {
            content: "";
            position: absolute;
      
            width: 100%;
            height: 100%;
      
            background-color: $-selector-font-color-normal;

            clip-path: polygon(20% 45.5%, 80% 45.5%, 50% 60.5%);

            transition: transform 0.3s ease-out;
      }
}

.ob-select-indicator__rotated {
      &::before {
            transform: rotate(180deg);
      }
}




.icon-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 26px;
}

.img-icn {
      object-fit: contain;
      max-height: 95%;
      max-width: fit-content;
}

.ob-select-label {
      width: fit-content;
      transition: display 3s ease;
}

.label-wrapper {
      width: fit-content;

      margin-left: 12px;
      white-space: nowrap;
}


.min-width-test {
      min-width: 160px;
}