$-bg-color-hover: red;
$-bg-color-selected: red;

$-font-color-normal: gray;
$-font-color-hover: white;
$-font-color-selected: white;

.ob-button-switch-main {
    width: 100%;
    height: fit-content;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.1s ease;

    > * {
        background-color: transparent;
        color: $-font-color-normal;
    }
}

.ob-button-switch-main:hover {
    background-color: $-bg-color-hover;
    > * {
        color: $-font-color-hover;
    }
}

.button-active {
    background-color: $-bg-color-hover;

    > * {
        color: $-font-color-selected;
    }
}