.media-preview{
    // border: 1px solid red;
    width: 100%;
    height: 100%;
}

.media-container{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

    image{
        aspect-ratio: 1/1;
        border-radius: 5px;
        object-fit: contain;
    }
}



.screen-shot{
    margin-left: 25px;
    width: 85%;
    height: 80px;
}

.button{
    height: 100% !important;
}