$-bg-color: #313131;
$-font-color: #ffff;

$-icon-size: 10px;
$-font-size: 16px;

#progress-box {
    min-width: 203px;
    height: 59px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    background-color: $-bg-color;
    color: $-font-color;

    border-radius: 17px;
    padding: 0px 20px 0px 20px;

    font-size: $-font-size!important;

    > :first-child {
        margin-right: 14px;
    }

    > :last-child {
        margin-left: 5px;
    }

    > * {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotatable-icon {
    padding: 2px;

    background: linear-gradient(60deg, #ffff, rgba(255, 255, 255, 0));

    transform-origin: 50% 50%;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    -webkit-animation: rotation 1.5s linear infinite;
    animation: rotation 1.5s linear infinite;
}