#preview-template {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#content {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    > :nth-child(1) {
        min-width: 300px;
        width: 314px;
        max-width: 360px;
    }

    > :nth-child(2) {
        width: 1px;
        background-color: $--bg-color-p4;
        cursor: w-resize;

    }

    > :nth-child(3) {
        flex: 1;
        overflow: hidden;
    }
}

#control-resize:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 5px;

    background-color: $--font-color-p1;
}

.wider-resize {
    width: 10px!important;
}

.wider-resize:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 5px;

    background-color: $--font-color-p1;
}

.wider-resize {
    width: 10px!important;
}

#main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    > :nth-child(1) {
        flex: 1;
        overflow: hidden;
    }

    > :nth-child(2) {
        height: fit-content;
    }
}

.hide-div {
    display: none;
}