.floating-window-preview {
    position: fixed;
    width: 100%; /* 使用视口宽度的 100% */
    height: 100%; /* 使用视口高度的 100% */
    z-index: 1000; /* 确保悬浮窗在其他内容之上 */
    background-color: rgba(125, 125, 125, 0.5); /* 半透明背景色，增加层次感 */  
    backdrop-filter: blur(2px); /* 应用模糊效果 */  
    border: none; /* 去掉边框 */
    padding: 0; /* 去掉内边距 */
    box-shadow: none; /* 可根据需要移除阴影 */
    text-align: right;
}

.preview{
    width: 400px;
    height: 100%;
    background-color: #FFF;
    display: inline-block;
}
.preview-panel{
    padding: 50px 20px 0px 20px;
    display: flex;
    flex-direction: column;

    .title{
        font-size: 20px;
        display: flex;
        align-items: center;
        margin: 30px 0 0 0px;
    }

    .screen-shot-container{
        width:100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .screen-shot{
        width: 60px;
        height: 60px;
        // border: 1px solid blue;
        margin-right: 10px;

        img{
            border-radius: 3px;
        }
    }
}

.preview-image{
    width: 100%;
    height: 300px;
    border: 1px solid red;
    border-radius: 5px;
}

.btn-group{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px
}

.cancel{
    height: 100%;
    flex-grow: 1;
    margin-right: 30px;
}

.save{
    height: 100%;
    flex-grow: 1;
}

.extract-btn{
    width: 30px;
    height: 30px;
}